<div class="jumbotron">
    <h1>Relatório da Lojinha</h1>
</div>
<h2>Total valor das Compras: @ViewData["soma"]</h2>
<h2>Quantidade de compra feita @ViewData["cont"]</h2>

<p>Produtos para Lazer e Esporte.</p>
