@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Rua 15 de Novembro, 389 Marília/SP<br />
    <br />
    <abbr title="Phone">Fone:</abbr>
    425.555.0100<br />
    (14) 9999-3445
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
