@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Lojinha Do Esporte</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/img1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sport Center</h5>
                <p class="card-text">Confira nossas linhas de produtos.</p>
                <a href="Produtos" class="btn btn-success">Clique Aqui</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/img2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sport Center</h5>
                <p class="card-text">Tudo para seu Esporte favorito.</p>
                <a href="Produtos" class="btn btn-success">Clique Aqui</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/img3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sport Center</h5>
                <p class="card-text">Tudo para seu Esporte favorito.</p>
                <a href="Produtos" class="btn btn-success">Clique Aqui</a>
            </div>
        </div>
    </div>
</div>
